/***************************
**		Custom Style Sheet
****************************/

.container {
	width: 988px;
}

.main-content {
	min-height: 500px;
}

.dashboard-content {
	text-align: center;
}
/*.login-header {
	margin-top: 50px;
}*/
footer p {
	text-align: center;
	font-style: italic;
}

/*.msg {
	width: 420px;
	margin: 0 auto;
}*/
/*
.login-content {
	width: 500px;
	border: 1px solid #e3e3e3;
	margin-top: 50px;
	padding-top: 50px;
}*/